---
import Layout from "../../../layouts/Layout.astro";
import axios from "axios";
interface Affirmation {
  affirmation: string;
}
const affirmation: string = (
  (await axios.get("https://www.affirmations.dev/")).data as Affirmation
).affirmation;
---

<Layout title="apis - wiktrek.xyz">
  <div class="text-5xl justify-center text-center items-center">
    <a>{affirmation}</a>
  </div>
</Layout>
