---
interface ApiType {
  name: string;
  description: string;
}
import Layout from "~/layouts/Layout.astro";
import Api from "~/components/Api.astro";
const apis: ApiType[] = [
  { name: "affirmation", description: "Gives random affirmation" },
  { name: "dad joke", description: "Gives a dadjoke" },
];
---

<Layout title="info - wiktrek.xyz">
  <div class="text-5xl justify-center text-center items-center flex">
    <div
      class="justify-center text-center items-center grid pt-96 grid-cols-3 gap-10"
    >
      {
        apis.map(({ name, description }) => {
          return <Api name={name} description={description} />;
        })
      }
    </div>
  </div>
</Layout>
