---
import Layout from '../layouts/Layout.astro';
---

<Layout title="info - wiktrek.xyz">
	<div class="text-5xl justify-center text-center items-center">
		<p>Astro!</p>
		<!-- <a href="/apis ">Apis</a> -->
	</div>
	
</Layout>
