---
interface Props {
  name: string;
  description: string;
}
const { name, description } = Astro.props;
---

<div
  class="bg-accent w-64 h-36 rounded-xl justify-center text-center items-center text-xl text-text font-semibold"
>
  <a href={`/apis/${name.replace(" ", "")}`}>
    <p class="font-semibold text-primary text-2xl">{name}</p>
    <p class="text-left pl-4 pt-2 font-normal">
      {description}
    </p>
  </a>
</div>
