---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="apis - wiktrek.xyz">
  <div class="text-5xl justify-center text-center items-center">
    <a>Apis</a>
    <div class="text-[#ef2572]">
      <p>
        <a href="/apis/affirmation">Affirmation</a>
      </p>
      <p>
        <a href="/apis/dadjoke">Dad joke</a>
      </p>
    </div>
  </div>
</Layout>
